<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/gabormate1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/gabormate1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Scattered Minds</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Scattered Minds explodes the myth of attention deficit disorder as genetically based – and offers real hope 
                            and advice for children and adults who live with the condition. Gabor Maté is a revered physician who specializes in neurology,
                             psychiatry and psychology – and himself has ADD.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/atomic-habits.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/atomic-habits.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Atomic Habbits</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Atomic Habits by James Clear is a comprehensive, practical guide on how to change your habits and get 1% better every 
                            day. Using a framework called the Four Laws of Behavior Change, Atomic Habits teaches readers a simple set of rules for creating good
                             habits and breaking bad ones.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/sapiens.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/sapiens.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Sapiens A Brief History of Humankind</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Yuval Noah Harari's book, 'Sapiens,' traces the origins, mechanisms, and effects of what we think of as
                             “human progress” from small bands of hunter-gatherers 100,000 years ago to the present-day global network through which 
                             our species has come to dominate the entire Earth.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/harry.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/harry.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Harry Potter and the Philosopher's Stone</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">It is a story about Harry Potter, an orphan brought up by his aunt and uncle because his parents were killed when 
                            he was a baby. Harry is unloved by his uncle and aunt but everything changes when he is invited to join Hogwarts School of Witchcraft 
                            and Wizardry and he finds out he's a wizard.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Enjoy
                        <br />
                        your
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>